*{
    box-sizing: border-box;
}

#app {
    max-width: 1920px;
    margin: 30px auto;
    padding: 0 4%;
}

h1 {
    font-size: 80px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
}

.main-nav li a{
    display: block;
    padding: 10px;
}

.main-nav a {
    color : #432;
}

.logo {
    width: 20%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 20px;
}

.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

article {
    width: 80%;
    }

aside {
    width: 20%;
}

.home-nav {
    flex-direction: row;

}

.home-nav li {
    text-align: center;
    list-style:none;
    overflow: hidden;
    float: left;
}

.gif-contain {
    width: 700px;
    height: auto;
    margin-right: 20px;
}

.home-find {
    padding : 0 30px;
}

.home-menu {
    float: right;
}

.home-menu select {
    width: 45%;
    height: 40px;
    margin-right: 20px;
    font-size: 20px;
    color: #999;
    border: 2px solid #ddd;
}

.home-menu input {
    width: 45%;
    height: 40px;
    font-size: 20px;
    color: #999;
    border: 2px solid #ddd;
}